.simple-tickers .ticker-types th {
    padding-left: 0.25rem;
    text-align: left;
}

.simple-tickers .ticker-types td.color {
    align-items: center;
    display: flex;
    input {
        margin: 0;
    }
    input.color {
        width: 8ch;
    }
}

.simple-tickers .ticker-types .controls {
    width: 1.75rem;
    text-align: right;
    padding-right: 0.25rem;
}